{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="row">
    {% for articles in highlights %}
    
            <div class="col-sm-12 col-md-3">

            <div class="card" style="width: 18rem;">
                    <img src="{{articles.urlToImage}}" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{articles.title}}</h5>
                      <p class="card-text">{{articles.description }}</p>
                      <a href="{{articles.url}}" class="btn btn-primary">see more</a>
                    </div>
                  </div>
                  
    
    </div>
    {% endfor %}
    </div>
{% endblock %}
