
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NEWS WORLD</title>
</head>
<body>
    <div>
        <h3 style="text-align:center;">YOUR GLOBAL NEWS</h3>
        <ul>
        {% for general_news in general %}
          <li>{{ macro.displayNewslist(general) }}</li>
          {% endfor %}
        </ul>
      </div>
      <div>
          <ul>
          {% for business_news in business %}
            <li>{{ macro.displayNewslist(business) }}</li>
            {% endfor %}
          </ul>
        </div>
        <div>
            <ul>
            {% for technology_news in technology %}
              <li>{{ macro.displayNewslist(technology) }}</li>
              {% endfor %}
            </ul>
          </div>
          <div>
              <ul>
              {% for sports_news in sports %}
                <li>{{ macro.displayNewslist(sports)}}</li>
                {% endfor %}
              </ul>
            </div>
</body>
</html>


